@require 'nib'

// $border = #174767
// $border = #2E3641
$border = #CCC
$bgTitle = #D9D9D9
$bgTitleShadow = #D9D9D9
$borderFila = #CCC
$borderBody = #CCC
$sizeImage = 13px
$color = #000

.form_load
	float left
	width 20px
	height 20px
	padding 10px
	overflow hidden
	position fixed

.form_body
	float left
	padding 10px 0 0 0

mix_background($image)
	background-size $sizeImage
	background-image url($image)
	background-repeat no-repeat

.form_content_field
	float left
	margin 0 0 2px 10px

.form_label
	float left

.form_field
	float left

.form_separador
	float left
	width 100%
	margin 15px 0
	padding 5px
	font-size 11px

.icon-panel
	float left
	width 93px
	cursor pointer
	margin 5px
	padding 5px
	font-size 11px
	min-height 70px
	text-align center

	&:hover
		background-color #A4D1F1

.grilla_title
	border-bottom 1px solid #BBB

.grilla_title,
.grilla_footer
	float left
	width 100%
	overflow hidden
	background-color $bgTitleShadow

	*
		color $color
		font-size 12px
		font-weight bold

	/.grilla_title_label
		float left
		cursor default
		height 22px
		padding 2px 0 0 5px
		border-right 1px solid #BBB
		background-color $bgTitle

		&:first-child
			width 35px

		&:hover .grilla_title_order > div
			visibility visible

		.grilla_title_order
			float left
			width 16px
			height 100%
			margin-left -16px

			> div
				height 50%
				background-size 8px
				background-repeat no-repeat
				background-position center
				visibility hidden

			[data-order="upOn"],
			[data-order="upOff"]
				background-image url(../img/grilla/up.png)

			[data-order="downOn"],
			[data-order="downOff"]
				background-image url(../img/grilla/down.png)

			[data-order="upOn"],
			[data-order="downOn"]
				visibility visible

.grilla_footer
	height 19px
	padding 2px

.grilla_body
	float left
	width 100%
	height calc(100% - 41px)
	overflow auto
	background-color #FFF

.my_grilla_filters
	float left
	margin 8px 0 0 6px
	border 1px solid #BBB
	overflow hidden
	background #FFF
	box-shadow 2px 2px 2px #666
	border-radius 5px

.TituloBarraFilters
	float left
	width 200px
	margin 0 0 0 0
	padding 6px 0 6px 0
	text-align left
	border-bottom 1px solid #BBB
	background linear-gradient(to top,  #ddd 0%,#eee 50%,#ddd 100%)

.IconoFiltro
	background-image url(../img/grilla/filter.png)
	background-repeat no-repeat

.IconoAtras
	background-image url(../img/grilla/prev.png)
	background-repeat no-repeat

.BarraFiltersDespliegue
	float left
	width 20px
	height 100%
	background linear-gradient(to left,  #ddd 0%,#eee 50%,#ddd 100% )

.BarraFiltersDespliegueDisabled
	float left
	width 20px
	height 100%
	margin 0 20px 0 -20px
	background #333

.BarraFiltersVerticalText
	top 50%
	width 12px
	height 120px
	margin -75px 0 0 4px
	position relative
	background-image url(../img/grilla/text_filtro_busqueda.png)
	background-repeat no-repeat

.ListadoFilters
	float left
	width 180px
	height 91%
	overflow auto
	overflow-X hidden

.LineaFiltro
	float left
	width 150px
	height 16px
	margin 3px 0 0 0
	cursor pointer
	padding 0 0 0 10px
	overflow ellipsis
	text-align left

.LineaFiltroDisabled
	color $border

.LineaFiltroEnabled
	color #000
	padding 0 0 0 4px
	box-shadow 1px 1px 3px #666
	font-weight bold
	border-radius 2px
	background-color $bgTitleShadow
	background-image url(../img/grilla/delete.png)
	background-repeat no-repeat
	background-position right

.grilla_toolbar
	float left
	width 100%
	height 28px
	overflow hidden

	& > div
		float left
		width 100%
		height 100%
		border 1px solid $border
		border-bottom none
		background-color $bgTitle

		/.grilla_type_search
			float right
			width 24px
			height 24px
			margin 2px -25px 2px 0
			background-image url(../img/grilla/search.png)
			background-repeat no-repeat
			background-position center
			background-size 16px

		div[data-search="enable"]
			background-color #78e272

		div[data-search="disable"]
			background-color transparent

		/.grilla_toolbar_input
			float right
			margin 3px

			input
				width 232px
				height 22px
				border 1px solid #FFF
				padding 0 22px

		/.grilla_toolbar_reload
			float right
			width 20px
			margin 4px -234px 2px 0
			height 21px
			cursor pointer
			background-size 16px
			background-color transparent
			background-image url(../img/grilla/reload.png)
			background-repeat no-repeat
			background-position center

.grilla_content
	float left
	width 100%
	height 100%
	overflow-y hidden
	overflow-x auto
	border-left 1px solid $borderBody
	border-right 1px solid $borderBody
	background-color #FFF

.grilla_celdas
	cursor default
	padding 2px 5px
	overflow hidden
	font-size 11px
	min-height 17px
	white-space nowrap
	text-overflow ellipsis

	img
		width 16px
		height 16px
		cursor pointer
		margin 0 auto
		display flex
		text-align center


.grilla_content_fila
	cursor default
	border-bottom 1px solid #DDD

	&:hover
		background-color #EAF4FA

.grilla_content_page
	float left

	div
		&:first-child
			float left
			margin 0px 5px

	& > .grilla_page
		width 16px
		float left
		height 16px
		cursor pointer
		margin 0px 2px 0 2px

.grilla_page[data-type="first"]
	background-image url(../img/grilla/first.png)

.grilla_page[data-type="last"]
	background-image url(../img/grilla/last.png)

.grilla_page[data-type="next"]
	background-image url(../img/grilla/next.png)

.grilla_page[data-type="prev"]
	background-image url(../img/grilla/prev.png)

.grilla_fila
	height 25px
	overflow hidden

	& > div
		float left
		height 100%
		padding-top	5px

	/.grilla_col_first
		width 35px
		cursor default
		padding 0

		/.grilla_fila_cont
			float left
			width 18px
			font-size 11px

		/.grilla_fila_image
			float left
			width $sizeImage
			height $sizeImage
			margin 1px

.grilla_fila_image[data-icon="fInsert"],
.grilla_fila_image[data-icon="insertRow"]
	mix_background '../img/grilla/add.png'

.grilla_fila_image[data-icon="fUpdate"],
.grilla_fila_image[data-icon="updateRow"]
	mix_background '../img/grilla/update.png'

.grilla_fila_image[data-icon="fDelete"],
.grilla_fila_image[data-icon="deleteRow"]
	mix_background '../img/grilla/delete.png'

.grilla_fila[data-state="fInsert"],
.grilla_fila[data-state="insertRow"]
	color #008200

.grilla_fila[data-state="fDelete"],
.grilla_fila[data-state="deleteRow"]
	color #F00

.grilla_fila[data-state="fUpdate"],
.grilla_fila[data-state="updateRow"]
	color #E05F06

.grilla_ventana
	overflow hidden

	& > aside
		float left
		height 100%
		overflow hidden

		/.grilla-aside-head
			width 100%
			height 51px
			display flex
			align-items center
			justify-content center
			background-color $bgTitle

		/.grilla-aside-title
			width 170px
			height 16px
			margin 10px 0 4px 16px
			padding 0 0 0 0
			box-shadow 1px 1px 3px #666
			text-align left
			font-weight bold

.grilla_load
	float left
	height 100%
	overflow hidden