*
	box-sizing border-box
	font-family arial,sans-serif

.desk-modulo
	border 1px solid
	margin 5px
	float left

	// transform rotate(-90deg)

.desk-content-modulos
	width 100%
	overflow hidden
	// transform scaleX(-1)
	border 1px solid
	transform-origin 0px 0px
	transform perspective(80)