// TITLE
$colorTitle   = #FFF
$bgColorTitle = #2B2B36

// TBAR
$colorTbar   = #D6D6D6
$bgColorTbar = #696969

	// BOTON
	$BgBtnHover    = #2B2B36
	$bordeBtnHover = #B7B7B7

	// SEPARATOR
	$colorSeparator = #D6D6D6

// VENTANA WIN
$wMarco = #FFF

.win-marco
	background-color $wMarco

	/.win-title
		background-color $bgColorTitle
		color $colorTitle

		/.win-title-btn
			background-image url(../img/window/close.png)
			background-size 15px

	/.win-tbar
		background-color $bgColorTbar
		color $colorTbar

		/.win-btn

			&:hover
				background-color $BgBtnHover
				border 1px solid $bordeBtnHover

			&:active
				border 1px solid #8DABD3

		/.win-separator
			color $colorSeparator
